.portfolio {
  margin-top: 140px;
  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 54%;
    text-align: center;
    color: #42446E;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 81%;
    text-align: center;
    color: #666666;
  }
  &__list {
    overflow: hidden;
    cursor: grab;
    padding: 40px 0;
    width: 100%;
  }
  &__drag {
    &-inner {
      display: flex;
      width: max-content;
    }
    &-wrapper {
      flex-shrink: 0;
      width: 400px;
      margin: 0 20px;
    }
  }
}