.header {
  display: flex;
  justify-content: space-between;
  &__logo {
    width: 60px;
    height: 60px;
  }
  &__menu {
    display: flex;
    justify-content: flex-end;
    gap: 47px;
  }
}

.social {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}