
.navbar {
  &__list {
    display: flex;
    gap: 54px;
  }
  &__link {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    text-align: center;
    text-decoration: none;
    color: #666666;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: #666666;
      transition: width 0.3s ease-in-out;
    }

    &:hover:after {
      width: 100%;
    }
  }
}